<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Qiitaの記事を検索する</title>
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontawesome-free-5.10.1-web/css/all.css">
</head>

<body>
    <div id="app">
        <div class="header-container">
            <header class="cf">
                <aside><a href="https://qiita.com/api/v2/docs">Qiita API v2</a></aside>
                <h1>Qiitaの記事を検索する</h1>

                <div id="search-input-wrap">
                    <span class="search-icon fas fa-search"></span>
                    <input type="text" v-model="keyword">
                </div>
            </header>
        </div>
        <div class="message-container">
            <p id="message" v-cloak>
                {{ message }}
            </p>
        </div>

        <div class="container">
            <div v-html="errorAlert"></div>
            <ul id="article-list" v-cloak>
                <li v-for="item in items" class="cf">
                    <div class="writer-thumb">
                        <img class="" v-bind:src="item.user.profile_image_url" alt="User" v-on:mouseenter="mouseEnterUserImg" v-on:mouseleave="mouseLeaveFromUserImg">
                    </div>
                    <div class="article-content">
                        <a v-bind:href="item.url" target="_blank" class="article-title" v-cloak>{{ item.title }}</a>
                        <div class="cf">
                            <aside class="cf">
                                <span>by</span>
                                <span class="user" v-on:mouseenter.stop.prevent="mouseEnterUserId" v-on:mouseleave.stop.prevent="mouseLeaveFromUserId">{{ item.user.id }}</span>
                            </aside>
                            <aside class="updatedAt">{{ item.updated_at }}
                            </aside>
                            <aside class="cf">
                                <span class="fa fa-thumbs-up mr-1of2"></span>
                                <span>{{ item.likes_count }}</span>
                            </aside>
                        </div>
                    </div>

                    <!-- <div class="user-card-outside"> -->
                    <transition>
                        <div class="user-card" v-on:mouseenter="mouseEnterCard" v-on:mouseleave="mouseLeaveFromCard">
                            <div class="cf">
                                <div class="writer-thumb">
                                    <img v-bind:src="item.user.profile_image_url" alt="User">
                                </div>
                                <span class="user-name">{{ item.user.name }}</span>
                                <div class="user-id-inside">
                                    {{item.user.id}}
                                </div>
                            </div>
                            <p class="user-description">
                                {{item.user.description}}
                            </p>
                        </div>
                    </transition>
                    <!-- </div> -->
                </li>
            </ul>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>