@charset "utf-8";
[v-cloak] {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cf:after {
    content: "";
    display: block;
    clear: both;
}

.displaynone {
    display: none !important;
}

body {
    font-family: -apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
    background: #f6f6f6;
    color: #333333;
}

header {
    padding: 12px 0 0 0;
    width: 576px;
    margin: 0 auto;
}

header aside {
    font-size: 12px;
    display: block;
    margin: 4px 0 0 0;
    text-align: right;
    float: right;
    /* vertical-align: 10%; */
}

header h1 {
    font-size: 16px;
    display: block;
    margin: 0 auto 8px;
}

.header-container {
    background: #55c500;
    color: #ffffff;
    padding-bottom: 16px;
}

.message-container {
    background: #f6f6f6;
    color: #333333;
    width: 576px;
    display: block;
    margin: 0 auto;
}

.container {
    padding: 0;
    width: 576px;
    display: block;
    margin: 0 auto;
    background: #fff;
}

p {
    font-size: 12px;
}

header aside a {
    color: inherit;
    text-decoration: none;
}

header aside a:hover {
    color: inherit;
    text-decoration: underline;
}

#app {
    background: #f6f6f6;
}

#search-input-wrap {
    position: relative;
    width: 576px;
    display: block;
    margin: 0 auto;
}

#search-input-wrap .search-icon {
    position: absolute;
    top: 9px;
    left: 9px;
    color: #aaa;
}

#search-input-wrap input {
    font-size: 12px;
    padding: 2px 4px;
    height: 32px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
    padding-left: 32px;
    padding-right: 8px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid #e8e8e8
}

#message {
    padding: 12px 0;
}

/*#request-failed-error-message {
    margin-top: 16px;
}

#request-failed-error-message span {
    display: block;
    text-align: center;
    padding-top: 8px;
}
*/
.error-alert {
    display: block;
    text-align: center;
    padding: 12px 0;
    border-radius: 0.2em;
    border: 1px solid #ff0000;
    font-weight: normal;
    margin-bottom: 12px;
}

.error-alert em {
    color: #ff0000;
    font-style: normal;
}

.error-alert em.status-code {
    display: block;
    padding: 2px 0 8px 0;
}

#article-list {
    list-style: none;
    margin: 0 0 16px 0;
}

#article-list li {
    font-size: 12px;
    padding: 16px;
    border-bottom: 1px solid #e8e8e8;
/*    position: relative;*/
}


#article-list li .article-content {
    display: block;
    float: left;
    width: 478px;
}

#article-list li .article-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 4px;
}

#article-list li a {
    color: #333333;
    text-decoration: none;
}

#article-list li a:hover {
    text-decoration: underline;
}

#article-list aside {
    color: #999999;
    font-size: 12px;
    display: block;
    float: left;
    margin-right: 8px;
}

#article-list aside span {
    display: block;
    float: left;
}

#article-list aside .user{
    margin-left: 4px;
    padding-bottom: 4px;
}

#article-list aside .mr-1of2 {
    margin-right: 4px;
}

.user{
    cursor:pointer;
}

/*.user-card-outside{
    position:absolute;
    top:0;
    left:0;
}*/

.user-card {
    display:none;
    position: absolute;
    box-shadow: 0 1px 4px 0 rgba(152,152,152,.5);
    background: #fff;
    padding: 16px;
    width: 400px;
    z-index: 1000;
    margin-top: 12px;
}


.writer-thumb {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    margin-right: 8px;
}

.writer-thumb img {
    width: 100%;
    border-radius: 0.2em;
}

.user-card .writer-thumb{
    width: 48px;
    height: 48px;
}

.user-card .writer-thumb{
    margin-right: 16px;
}
.user-card .user-name{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.user-card .user-id-inside{
    color: #aaaaaa;
    font-size: 16px;
}

.user-card .user-description{
    padding:16px 0;
}

.active{
    display:block!important;
    top:0;
/*    opacity:0;*/
}
.opacityFadeIn{
/*    opacity: 1;
    transition: all 1s;*/
}